<!--

<div style="float: left;"><a href="http://www.hcmr.gr"><img alt="HCMR logo" src="{{ site.baseurl }}/images/hcmr.png" style="border: 0; height:2em; padding-right:0.5em;" /></a></div>
<div style="float: left;"><a href="http://imbbc.hcmr.gr/"><img alt="IMBBC logo" src="{{ site.baseurl }}/images/logo-imbbc.png" style="border: 0; height:2em; padding-right:0.5em;" /></a></div>
<div style="float: left;"><a href="http://lab42open.hcmr.gr"><img alt="lab42open logo" src="{{ site.baseurl }}/images/lab42open.png" style="border: 0; height:2em;"/></a></div>
<div style="float: right;"><a href="http://www.gsrt.gr"><img alt="GSRT logo" src="{{ site.baseurl }}/images/gsri.png" style="border: 0; height:2em; "/></a></div>
<div style="float: right;"><a href="http://www.elidek.gr"><img alt="HFRI logo" src="{{ site.baseurl }}/images/hfri.png" style="border: 0; height:2em; padding-right:0.5em;"/></a></div>
<div align="center" style="font-size: small"><a>Funded by the Hellenic Foundation for Research and Innovation</a></div>
-->
<style>
    .page__footer-follow {
        background-color: rgb(255,255,255);
    }
</style>
<div class="page__footer-follow" align="center">
<!--
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
      <li><a href="mailto:prego@hcmr.gr"><img alt="email the PREGO team" style="height: 1em;" src="{{ site.baseurl }}/images/mail.png"> CONTACT</a></li>
      <li><a href="http://imbbc3.hcmr.gr/">&copy; IMBBC, HCMR</a></li>
  </ul>
-->
</div>
